html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #111;
	color: #eee;
	font: caption;
}

.dg {
	font: caption !important;
	text-shadow: none !important;
}

.dg .property-name {
	font: small-caption !important;
	line-height: 27px !important;
}
